body {
  font-family: sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 10px;
}

.header {
  margin: 10px 15px;
  padding: 20px 0;
  background-color: #89cff0;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
  color: #0b2e59;
  text-align: center;
  margin: 0;
  text-shadow: 1px 1px 2px #fff;
}

.container {
  margin: 10px 15px;
  padding: 15px;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar {
  padding: 0;
  background: #e6f7ff;
  grid-column: 1 / span 3;
  border-radius: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.sidebar li {
  margin: 10px;
  background: #007bff;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.sidebar li:hover {
  background: #0056b3;
  cursor: pointer;
}

.content {
  padding: 15px;
  background: #e6f7ff;
  grid-column: 4 / span 9;
  border-radius: 10px;
}

.content img {
  display: block;
  margin: 0 auto 15px auto;
  width: 20%;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content p {
  color: #333;
  line-height: 1.6;
  text-align: justify;
}

.footer {
  margin: 10px 15px;
  padding: 15px 0;
  background: #0b2e59;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer h3 {
  color: white;
  text-align: center;
  font-family: monospace;
  margin: 0;
}